body {
    /* So that the page won't "jitter" around when the scrollbar is visible or not. */
    overflow-y: scroll;
    margin: 0;
}

#logo {
    color: blue;
}

nav, main, footer {
    margin: auto;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

nav, main, footer, .alert-fixed {
    max-width: 1000px;
}

main, footer {
    left: 50%;
}

footer {
    padding-bottom: 15px;
}

div#compressor-top {
    padding: 0;
}

div#summit {
    background: linear-gradient(150deg, white 0%, ghostwhite 50%, aliceblue 75%) !important;
    background: -moz-linear-gradient(150deg, white 0%, ghostwhite 50%, aliceblue 75%) !important;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.footer-list-item {
    margin-bottom: 0.4em;
    font-family: monospace;
}

#query-string {
    font-family: monospace;
    line-height: 1em;
    font-weight: bold;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0.2em;
}

.footer-list-item a:hover {
    text-decoration: none;
}

.heart {
    color: darkred;
}

div.card-row {
    padding-bottom: 30px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

#error-message {
    font-family: monospace;
    line-height: 1em;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px dashed orange;
}

a.autologin {
    font-family: monospace;
    font-size: 0.8em;
    line-height: 1em;
}

.background-admin {
    background-color: red !important;
}

.alert-fixed {
    position: fixed;
    z-index: 1;
}


.carousel-caption {
    color: black;
}

.nav-link {
    color: #555 !important;

}

.alert-debug {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.text-debug {
    color: #17a2b8 !important;
}

.form-error {
    color: darkred;
}

.login-image {
    font-size: 20em;
    color: cornflowerblue;
}

.access-form {
    background-color: aliceblue;
}

.transparent {
    opacity: 0.9;
}

#debug-password {
    font-family: monospace;
    line-height: 1em;
}