body {
    /* So that the page won't "jitter" around when the scrollbar is visible or not. */
    overflow-y: scroll;
    margin: 0;
}

navbar-brand {
    color: blue;
}

nav, main, footer {
    max-width: 970px;
    margin: auto;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

main, footer {
    left: 50;
}

footer {
    padding-bottom: 15px;
}

div#compressor-top {
    padding: 0px;
}

div#summit {
    background-color: #f8f9fa !important;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.footer-list-item {
    margin-bottom: 0.4em;
    font-family: monospace;
}

#query-string {
    font-family: monospace;
    font-weight: bold;
    border: 1px solid lightgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0.2em;
}

.footer-list-item a:hover {
    text-decoration: none;
}

.heart {
    color: darkred;
}

div.card-row {
    padding-bottom: 30px;
}

h1 {
    font-size: 2em;
}

.carousel-caption, a.carousel-control-prev, a.carousel-control-next {
	color: black;
}

#error-message {
    font-family: monospace;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px dashed orange;
}

label {
    margin-left: 53px;
}

a.autologin {
    font-family: monospace;
    font-size: 0.8em;
}