body {
    /* So that the page won't "jitter" around when the scrollbar is visible or not. */
    overflow: scroll;
    margin: 0;
}

navbar-brand {
    color: blue;
}

div.compressor {
    max-width: 950px;
    margin: auto;
    left: 50%;
    top: 0;
}

div#summit {
    background-color: #f8f9fa !important;
    border-bottom: 2px solid gray;
    margin-bottom: 20px;
}

.footer-list-item {
    margin-bottom: 0.4em;
    font-family: monospace;
}

#query-string {
    font-family: monospace;
    font-weight: bold;
    border: 1px solid lightgray;
    padding: 5px;
    margin-left: 0.2em;
}

.footer-list-item a:hover {
    text-decoration: none;
}

.heart {
    color: darkred;
}

div.card-row {
    padding-bottom: 30px;
}

h1 {
    font-size: 2em;
}

.carousel-caption, a.carousel-control-prev, a.carousel-control-next {
	color: black;
}

#error-message {
    font-family: monospace;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 3px dashed orange;
}