<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Frostbook TEMPLATE</title>
</head>

<body>

<div th:fragment="footer" id="footer">

    <div class="compressor">

        <footer class="page-footer font-small blue pt-4">

            <div class="container-fluid text-center text-md-left">

                <div class="row">

                    <div class="col-md-6 mt-md-0 mt-3">

                        <p class="text-uppercase">Frostbook</p>
                        <p><strong>Frostbook</strong> is a social media platform. It's a student project.</p>
                        <small>Please don't sue.</small>

                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-3 mb-md-0 mb-3">

                        <p class="text-uppercase">Internal</p>

                        <ul class="list-unstyled">
                            <li>
                                <a th:href="@{/about}">About</a>
                            </li>
                            <li>
                                <a th:href="@{/help}">Help</a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">

                        <p class="text-uppercase">External</p>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!">Frostbook on GitHub</a>
                            </li>
                            <li>
                                <a href="#!">My other projects</a>
                            </li>
                        </ul>

                    </div>


                </div>


            </div>


            <!--            <div class="footer-copyright text-center py-3">© 2019 Copyright:-->
            <!--                <a href=""> gotonode</a>-->
            <!--            </div>-->

        </footer>

    </div>

    <!-- BEGINSECTION: jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <!-- ENDSECTION -->

    <!-- BEGINSECTION: Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <!-- ENDSECTION -->

    <!-- BEGINSECTION: Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- ENDSECTION -->

</div>

</body>
</html>
