<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>TEMPLATE</title>
</head>

<body>

<div th:fragment="gallery">

    <div class="card-columns">
        <div th:each="image : ${profile.images}">
            <div class="card">
                <a th:href="@{/id/} + ${profile.path} + '/gallery/' + ${image.id}">
                    <img class="card-img-top"
                         th:src="@{/id/{path}/gallery/{id}/content(path=${profile.path}, id=${image.id})}"
                         alt="${image.description}}">
                </a>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <form th:action="@{/id/} + ${profile.path} + '/gallery/' + ${image.id} + '/like'"
                                  method="POST">
                                <button type="submit" class="btn btn-sm btn-outline-success"><i
                                        class="far fa-heart"></i>
                                    Like <span th:if="${#lists.size(image.likedBy)} > 0">(<span
                                            th:text="${#lists.size(image.likedBy)}"></span>)</span>
                                </button>
                            </form>
                        </div>
                        <div class="col-6 text-right" sec:authorize="isAuthenticated()"
                             th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), profile.handle)}">

                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Tools
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form method="POST"
                                          th:action="@{/id/} + ${profile.path} + '/gallery/' + ${image.id} + '/delete'"
                                          class="dropdown-item">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">
                                            <i class="far fa-fw fa-trash-alt"></i> Delete
                                        </button>
                                    </form>
                                    <form method="POST"
                                          th:action="@{/id/} + ${profile.path} + '/gallery/' + ${image.id} + '/set'"
                                          class="dropdown-item">
                                        <button type="submit" class="btn btn-sm btn-outline-primary">
                                            <i class="far fa-fw fa-image"></i> Set as profile image
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:fragment="upload">
    <form method="POST" th:action="@{/id/} + ${profile.path} + '/gallery'" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" id="file" class="custom-control-input" />
                <label for="file" class="custom-file-label">Choose your image</label>
            </div>
        </div>
        <div class="input-group">

            <input type="text" name="description" id="description" class="form-control" placeholder="Description" />

        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-outline-primary"
                    th:classappend="${#lists.size(profile.images) >= 10} ? 'btn-disabled'">
                <i class="fas fa-file-upload"></i> Upload image
            </button>
        </div>
    </form>

    <script defer>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</div>

<div th:fragment="image(profile, image)">
    <img th:src="@{/id/{path}/gallery/{id}/content(path=${profile.path}, id=${image.id})}"
         alt="${image.description}}">
    <hr />

    <form th:action="@{/id/} + ${profile.path} + '/gallery/' + ${image.id} + '/like'" method="POST">
        <button type="submit" class="btn btn-sm btn-outline-success"><i
                class="far fa-heart"></i>
            Like <span th:if="${#lists.size(image.likedBy)} > 0">(<span th:text="${#lists.size(image.likedBy)}"></span>)</span>
        </button>
    </form>

</div>

</body>

</html>