<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" lang="en">

<head>
    <title>TEMPLATE</title>
</head>

<body>

<div th:fragment="menu">
    <div id="summit">

        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-center">
            <a class="navbar-brand" href="/" style="color: blue;"><i class="fas fa-thumbs-down"></i> Frostbook <span
                    class="sr-only">(current)</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/register}">
                            <i class="fas fa-fw fa-user-plus"></i> Register</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">
                            <i class="fas fa-fw fa-sign-in-alt"></i> Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/friends}">
                            <i class="fas fa-fw fa-user-friends"></i> Friends </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/requests}">
                            <i class="fas fa-fw fa-user-plus"></i> Requests </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDebug" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-fw fa-bug"></i> Debug
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownDebug">
                            <a class="dropdown-item" href="/debug/createProfile">
                                <i class="fas fa-fw fa-plus"></i> Create random profile (password is "debug")</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/debug/reset">
                                <i class="fas fa-fw fa-power-off"></i> Reset (delete all data)</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-fw fa-address-card"></i> <span
                                th:text="${#authentication.getPrincipal().getUsername()}">HANDLE</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                            <a class="dropdown-item" href="/id"><i class="fas fa-fw fa-user-circle"></i> My profile</a>
                            <a class="dropdown-item" href="/logout"><i class="fas fa-fw fa-sign-out-alt"></i> Logout</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="POST">
                    <input class="form-control mr-sm-2" name="query" type="search"
                           placeholder="(handle, name or path)" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-fw fa-search"></i>
                        Search
                    </button>
                </form>
            </div>
        </nav>
    </div>
</div>

</body>

</html>