<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head>
    <title>TEMPLATE</title>
</head>

<body>

<div th:fragment="profile">

    <div class="card">
        <div class="card-header text-center">

            <strong th:text="${profile.handle}" class="card-title "></strong>
            <small sec:authorize="isAuthenticated()"
                   th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), profile.handle)}"
                   class="text-secondary"> (you)</small>
        </div>
        <img th:if="${profile.profileImage}" class="card-img-top" th:src="@{/id/{path}/gallery/{id}/content(path=${profile.path}, id=${profile.profileImage.id})}" alt="Card image cap">
        <img th:if="${profile.profileImage} == null" class="card-img-top" src="/img/sample01.png" alt="Card image cap">

        <div class="card-body">

            <div class="card-text">
                <div class="row">
                    <div class="col-6">
                        <a class="btn-link" th:href="@{/id/} + ${profile.path}">Profile</a>
                    </div>
                    <div class="col-6 text-right">

                        <a class="btn-link" th:href="@{/id/} + ${profile.path} + '/gallery'">Gallery</a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span th:text="${profile.name}"></span></li>
            <li class="list-group-item"><span th:text="'/' + ${profile.path}"></span></li>
        </ul>

        <div class="card-body">
            <form method="POST" th:action="@{/id/} + ${profile.path} + '/friends/add'">
                <button type="submit" class="btn btn-outline-primary w-100">Send friend request</button>
            </form>
        </div>
    </div>

</div>

<div th:fragment="wall">

    <div class="form-inline">
        <form th:action="@{/id/} + ${profile.path} + '/comments'" method="POST" id="post-comment">
            <input type="text" class="form-control" name="comment" id="comment" required />
            <button type="submit" class="btn btn-outline-primary">Post</button>
        </form>
    </div>

    <hr />

    <div class="card-deck">
        <div class="col-12 card-row" th:each="comment : ${profile.comments}">
            <div class="card bg-light m-0">

                <div class="card-body">

                    <div class="card-text">
                        <div class="row">
                            <div class="col-6">
                                <p th:text="${comment.comment}"></p>
                                <small class="comment-handle">&ndash; <a
                                        th:href="@{/id/} + ${comment.fromProfile.path}"><span
                                        th:text="${comment.fromProfile.handle}"></span></a>

                                    <span sec:authorize="isAuthenticated()"
                                          th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), comment.fromProfile.handle)}"
                                          class="text-secondary"> (you)</span>

                                </small>
                            </div>
                            <div class="col-6 text-right">
                                <span class="comment-date"
                                      th:text="${#dates.format(comment.date, 'dd.MM.yyyy HH:mm:ss')}">comment.date</span>
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="border p-3 w-100 d-block bg-light border-outline-info rounded"
                         th:each="subcomment : ${comment.subcomments}">
                        <div class="row">
                            <div class="col-6">
                                <p th:text="${subcomment.comment}"></p>

                            </div>
                            <div class="col-6 text-right">
                                <small class="comment-date"
                                       th:text="${#dates.format(subcomment.date, 'dd.MM.yyyy HH:mm:ss')}">
                                    subcomment.date
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <small class="comment-handle">&ndash; <a
                                        th:href="@{/id/} + ${subcomment.fromProfile.path}"><span
                                        th:text="${subcomment.fromProfile.handle}"></span></a>

                                    <span sec:authorize="isAuthenticated()"
                                          th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), subcomment.fromProfile.handle)}"
                                          class="text-secondary"> (you)</span>

                                </small>
                            </div>
                            <div sec:authorize="isAuthenticated()"
                                 th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), subcomment.fromProfile.handle)} or ${#strings.equals(#authentication.getPrincipal().getUsername(), profile.handle)}"
                                 class="col-3 text-right">

                                <form th:action="@{/id/} + ${profile.path} + '/comments/' + ${comment.id} + '/subcomments/' + ${subcomment.id} + '/delete'"
                                      method="POST">
                                    <button type="submit"
                                            class="btn btn-sm btn-outline-danger">
                                        <i class="far fa-trash-alt"></i><span
                                            class="sr-only">Delete subcomment</span>
                                    </button>
                                </form>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="card-footer">

                    <div class="row">
                        <div class="col-10 input-group form-inline">
                            <form th:action="@{/id/} + ${profile.path} + '/comments/' + ${comment.id} + '/like'"
                                  method="POST">
                                <button type="submit" class="btn btn-sm btn-outline-success mr-2">
                                    <i class="far fa-heart"></i> Like <span th:if="${#lists.size(comment.likedBy)} > 0">(<span
                                        th:text="${#lists.size(comment.likedBy)}"></span>)</span>
                                </button>
                            </form>
                            <form th:action="@{/id/} + ${profile.path} + '/comments/' + ${comment.id} + '/subcomments'"
                                  method="POST">
                                <input type="text" class="form-control form-control-sm" name="comment" required />
                                <button type="submit" class="btn btn-sm btn-outline-primary ml-1">
                                    Add
                                </button>
                            </form>
                        </div>
                        <div sec:authorize="isAuthenticated()"
                             th:if="${#strings.equals(#authentication.getPrincipal().getUsername(), comment.fromProfile.handle)} or ${#strings.equals(#authentication.getPrincipal().getUsername(), profile.handle)}"
                             class="col-2 text-right">
                            <form th:action="@{/id/} + ${profile.path} + '/comments/' + ${comment.id} + '/delete'"
                                  method="POST">
                                <button type="submit"
                                        class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-trash-alt"></i><span class="sr-only">Delete comment</span>
                                </button>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>