<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Friends')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <h1>Friends</h1>

    <p>Gander in awe at all of the friends you have!</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Handle</th>
            <th scope="col">Path</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="friend : ${friends}">
            <td>
                <span th:text="${friend.handle}"></span>
            </td>
            <td>
                <a th:href="@{/id/} + ${friend.path}"><span th:text="'/' + ${friend.path}"></span></a>
            </td>
            <td th:text="${friend.name}">
                friend.name
            </td>
            <td>
                <form method="POST" th:action="@{/id/} + ${friend.path} + '/friends/remove'">
                    <button type="submit" class="btn btn-outline-danger w-100">
                        <i class="fas fa-hand-middle-finger"></i> Unfriend
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>