<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Gallery')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <div class="card-deck">
        <div class="col-3 card-row" th:each="image : ${profile.images}">
            <div class="card">
                <img class="card-img-top" th:src="@{/gallery/{id}(id=${image.id})}" alt="${image.description}}">
                <div class="card-head">
                    <span th:text="${image.name}"></span>
                </div>
                <div class="card-body">
                    <a th:href="@{/id/} + ${profile.path} + '/gallery/' + ${image.id}" class="card-link">0 comments</a>
                </div>
            </div>
        </div>
    </div>

    <form method="POST" th:action="@{/img}" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" id="file" class="custom-control-input" />
                <label for="file" class="custom-file-label">Choose your image</label>
            </div>
        </div>
        <div class="input-group">

            <input type="text" name="description" id="description" class="form-control" placeholder="Description" />

        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-file-upload"></i> Upload image
            </button>
        </div>
    </form>

    <script defer>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>