<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Gallery')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <div class="row">
        <div class="col-6 text-center">
            <span th:text="${profile.handle}"></span>
        </div>
        <div class="col-6 text-center">
            Back to profile
        </div>
    </div>

    <div class="card-columns">
        <div th:each="image : ${profile.images}">
            <div class="card">
                <a th:href="@{/id/} + ${profile.path} + '/gallery/' + ${image.id}">
                    <img class="card-img-top"
                         th:src="@{/id/{path}/gallery/{id}/content(path=${profile.path}, id=${image.id})}"
                         alt="${image.description}}">
                </a>
                <div class="card-head">
                    <!--<span th:text="${#dates.format(image.date, 'dd-MM-yyyy')}"></span>-->
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            <a th:href="@{/id/} + ${profile.path} + '/gallery/' + ${image.id}"
                               class="card-link"><span th:text="${#lists.size(image.likedBy)}"></span> like<span s</a>
                        </div>
                        <div class="col-6 text-right">
                            <a th:href="@{/id/} + ${profile.path} + '/gallery/' + ${image.id}"
                               class="card-link"><span th:text="${#lists.size(image.subcomments)}"></span> comments</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <form method="POST" th:action="@{/upload}" enctype="multipart/form-data">
        <div class="input-group">
            <div class="custom-file">
                <input type="file" name="file" id="file" class="custom-control-input" />
                <label for="file" class="custom-file-label">Choose your image</label>
            </div>
        </div>
        <div class="input-group">

            <input type="text" name="description" id="description" class="form-control" placeholder="Description" />

        </div>
        <div class="input-group">
            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-file-upload"></i> Upload image
            </button>
        </div>
    </form>

    <script defer>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>