<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = '')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <div th:if="${session.debug}" class="alert alert-debug alert-fixed" role="alert">
        <strong>Debug features!</strong> You can, for an example, instantly create random profiles, log in to any
        account from a link in the search results, and reset the database. Have fun!
        <hr/>
        <p class="mb-0">To disable these features, check the Debug-menu or clear your cookies.</p>
    </div>

    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/carousel01.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <strong>Welcome!</strong>
                        <p>The social media platform for those <em>frosty</em> relationships.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>

<script>
    function closeModal() {
        document.getElementById("alert").classList.remove("d-none");
        window.localStorage.setItem("debugModalHidden", "true");
    }
</script>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>