<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Login')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <h1>Login to Frostbook</h1>
    <div class="row">
        <div class="col-md-6 col-12">
            <p>Welcome back!</p>
        </div>
        <div class="col-md-6 col-12 text-md-right">
            <p>Need an account? <a th:href="@{/register}">Register here</a>.</p>
        </div>
    </div>

    <hr class="mt-0" />

    <div class="row">
        <div class="d-none d-md-block col-6 text-center align-self-center">

            <i class="fas fa-door-open login-image"></i>

        </div>
        <div class="col-12 col-md-6">

            <div th:if="${#httpServletRequest.getParameter('error')}"
                 class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Bad, bad credentials!</strong> Please check your handle and your password and try again.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form th:action="@{/login}" method="POST" th:object="${loginData}"
                  class="border border-primary p-5 rounded access-form" id="login">

                <div class="form-group">
                    <label for="handle">Handle</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-at"></i>
                            </div>
                        </div>
                        <input id="handle" name="handle" placeholder=""
                               type="text" th:field="*{handle}"
                               aria-describedby="handleHelpBlock" class="form-control">
                        <p th:if="${#fields.hasErrors('handle')}" th:errors="*{handle}" class="form-error">error</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <input id="password" name="password" placeholder="" type="text"
                               th:field="*{password}" aria-describedby="passwordHelpBlock" class="form-control">
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-error">error</p>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input name="checkbox" id="preserve" type="checkbox" class="custom-control-input"
                                   value="preserve" checked>
                            <label for="preserve" class="custom-control-label">Keep me logged in</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button name="submit" type="submit" class="btn btn-primary">
                        <i class="fas fa-fw fa-sign-in-alt"></i> Login
                    </button>
                </div>

                <div class="form-group">
                    Have you forgotten your password? Click <a href="#"
                                                               onclick="alert('Not implemented yet.');">here</a> to set
                    a new one.
                </div>

            </form>
        </div>
    </div>

    <script>
        // On failed login attempt, put focus on the proper input element.
        if (window.location.search.indexOf("error") > 0) {
            document.getElementById("handle").focus();
        }
    </script>

    <div th:replace="fragments/footer :: footer"></div>

</main>

</body>

</html>