<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Profile')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <div class="row">
        <div class="col-12 col-md-4">

            <div class="card">
                <img class="card-img-top" src="/img/sample01.png" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <strong th:text="${profile.handle}" class="card-title"></strong>
                        </div>
                        <div class="col-6 text-right">
                            <small class="text-secondary" th:text="${#dates.format(profile.date, 'dd-MM-yyyy')}"></small>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a class="btn-link" th:href="@{/id/} + ${profile.path} + '/gallery'">Switch to Gallery</a></li>
                    <li class="list-group-item">Name: <span th:text="${profile.name}"></span></li>
                    <li class="list-group-item">Path: <span th:text="${profile.path}"></span></li>
                </ul>
                <div class="card-body">
                    <form method="POST" th:action="@{/requests/add/} + ${profile.handle}">
                        <button type="submit" class="btn btn-outline-primary w-100">Send friend request</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">

            <div class="form-inline">
                <form th:action="@{/id/} + ${profile.path} + '/comments'" method="POST">
                    <input type="text" class="form-control" name="comment" />
                    <button type="submit" class="btn btn-outline-primary">Send comment</button>
                </form>
            </div>

            <hr />

            <div class="card-deck">
                <div class="col-12 card-row" th:each="comment : ${profile.comments}">
                    <div class="card bg-light">

                        <div class="card-body">

                            <div class="card-text">
                                <div class="row">
                                    <div class="col-6">
                                        <p th:text="${comment.comment}"></p>
                                        <small class="comment-handle">&ndash; <span
                                                th:text="${comment.fromProfile.handle}"></span></small>
                                    </div>
                                    <div class="col-6 text-right">
                                        <span class="comment-date" th:text="${comment.date}">comment.date</span>
                                    </div>
                                </div>

                            </div>

                            <hr />

                            <div class="border p-3 w-100 d-block bg-light border-outline-info rounded"
                                 th:each="subcomment : ${comment.subcomments}">
                                <div class="row">
                                    <div class="col-6">
                                        <p th:text="${subcomment.comment}"></p>

                                    </div>
                                    <div class="col-6 text-right">
                                        <small class="comment-date" th:text="${subcomment.date}">subcomment.date
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <small class="comment-handle">&ndash; <span
                                                th:text="${subcomment.fromProfile.handle}"></span></small>
                                    </div>
                                    <div class="col-6 text-right">

                                        <button type="submit" class="btn btn-sm btn-outline-danger"><i
                                                class="far fa-trash-alt"></i>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="card-footer">

                            <div class="row">
                                <div class="col-9 input-group form-inline">
                                    <form class="mr-2">
                                        <button type="submit" class="btn btn-sm btn-outline-success"><i
                                                class="far fa-heart"></i>
                                            Like (1)
                                        </button>
                                    </form>
                                    <form th:action="@{/id/} + ${profile.path} + '/comments/' + ${comment.id} + '/subcomments'"
                                          method="POST">
                                        <input type="text" class="form-control form-control-sm" name="comment" />
                                        <button type="submit" class="btn btn-sm btn-outline-primary">Comment
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3 text-right">
                                    <button type="submit" class="btn btn-sm btn-outline-danger"><i
                                            class="far fa-trash-alt"></i>
                                        Delete
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
