<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">

<head th:replace="fragments/header :: head(title = 'Profile')">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/nav :: menu"></div>

<main>

    <div class="row">

        <div class="col-12 col-md-3">
            <div th:replace="fragments/profile :: profile"></div>
        </div>

        <div class="col-12 col-md-9">
            <div th:replace="fragments/profile :: wall"></div>
        </div>

    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
