<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: head">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/header :: menu"></div>

<div class="compressor">

    <h1>Search results</h1>
    <p><span th:text="${count}"></span> results found for your query: "<strong th:text="${query}">query</strong>"</p>

    <div class="row">
        <div class="col-sm-3 card-row" th:each="profile : ${people}">
            <div class="card bg-light">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <strong class="card-header" th:text="${profile.handle}"></strong>
                <div class="card-body">

                    <p class="card-text" th:text="${profile.name}"></p>

                </div>
                <div class="card-footer">
                    <a th:href="'/id/' + ${profile.path}" th:text="'/' + ${profile.path}"></a>
                </div>
            </div>
        </div>
    </div>


    <!--    <table class="table">-->
    <!--        <thead>-->
    <!--        <th scope="col">ID</th>-->
    <!--        <th scope="col">Handle</th>-->
    <!--        <th scope="col">Name</th>-->
    <!--        <th scope="col">Path</th>-->
    <!--        <th scope="col">Joined</th>-->
    <!--        </thead>-->
    <!--        <tbody>-->

    <!--        <tr th:each="profile : ${people}">-->
    <!--            <th scope="row"><span th:text="${profile.id}">profile.id</span></th>-->
    <!--            <td><span th:text="${profile.handle}">profile.handle</span></td>-->
    <!--            <td><span th:text="${profile.name}">profile.name</span></td>-->
    <!--            <td><a th:href="'/id/' + ${profile.path}"><span th:text="${profile.path}">profile.path</span></a></td>-->
    <!--            <td><span th:text="${profile.date}">profile.date</span></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>