<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: head">
    <title>Frostbook</title>
</head>

<body>

<div th:replace="fragments/header :: menu"></div>

<div class="compressor">

    <h1>Search results</h1>
    <p><span th:text="${count}"></span> results found for your query: "<strong th:text="${query}">query</strong>"</p>

    <div class="card-deck">
        <div class="col-sm-6 card-row" th:each="profile : ${profiles}">
            <div class="card bg-light">
                <div class="ribbon"><span>ADMIN</span></div>
                <!--<img src="..." class="card-img-top" alt="...">-->
                <strong class="card-header" th:text="${profile.handle}"></strong>
                <div class="card-body">

                    <p class="card-text" th:text="${profile.name}"></p>

                </div>
                <div class="card-footer">
                    <a th:href="'/id/' + ${profile.path}" th:text="'/' + ${profile.path}"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>